@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Kalam:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Barlow", sans-serif;
}

header {
  background-color: #00bf63;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 5px 0px 5px;
  margin: 0%;
  position: sticky;
  top: 0;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredish-logo {
  width: 200px;
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 20px 25px 25px 20px;
}

nav li > a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  font-size: 12px;
}

.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.icon {
  display: none;
}

.arrow {
  display: none;
}

.search-wrapper {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#search {
  width: 80%;
  margin-right: 20px;
  height: 25px;
  font-size: large;
  text-indent: 20px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  color: white;
}

.search-wrapper > button {
  width: 50px;
  height: 25px;
  all: unset;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  padding-right: 20px;
}

.search-wrapper > button:focus {
  outline: revert;
}

#search,
.search-wrapper > button {
  border-radius: 25px;
}

main {
  max-height: 100%;
}
/*loader*/

.loader {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f7f9fb;
  transition: opacity 1s, visibility 1s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #f4901d;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/*recipe*/

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  padding: 50px 80px 50px 80px;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
  column-gap: 40px;
}

.image {
  grid-row: span 3;
  display: flex;
  flex-direction: column;
}

.image > h1 {
  font-size: 40px;
}

.recipe-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.recipe-img > img {
  height: 400px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
  font-size: 20px;
  text-indent: 20px;
}

.about,
.ingredients,
.instruction {
  padding-top: 25px;
}

.ingredients-grid {
  padding-top: 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients-list > img {
  width: 100px;
  height: 100px;
}

.instruction > p {
  padding-top: 20px;
}

.instruction > ol {
  font-size: 20px;
}
/*search style*/
.query-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
  justify-content: flex-start;
  padding: 40px 50px;
}

#result {
  text-align: center;
  padding-top: 20px;
}

.recipe-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 285px;
  height: auto;
  margin-left: 20px;
  margin-top: 20px;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.recipe-image {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.card-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.recipe-card > a {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  padding: 50px 80px 50px 80px;
}

/*about style*/

.about-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-info > img {
  width: 80%;
  padding-bottom: 20px;
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: center;
  text-align: center;
  padding-top: 85px;
}

.values > .mission,
.values > .vision {
  background-color: #f7f9fb;
}

.profile {
  display: flex;
  justify-content: space-between;
  padding-top: 85px;
}
.introduction {
  width: 100%;
}
.profile-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 400px;
  height: auto;
  background-color: #ff5757;
  color: white;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.profile-image {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.card-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.links {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.links > a {
  text-decoration: none;
  padding-right: 10px;
  color: white;
  font-size: 20px;
}

.links > a:hover {
  font-size: 32px;
  position: relative;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */

@media (max-width: 1260px) {
  .search-container {
    width: 600px;
  }

  .query-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1006px) {
  .search-container {
    width: 500px;
  }
}

/* lg */
@media (max-width: 982px) {
  .image > h1 {
    text-align: center;
    font-size: 35px;
  }
  .ingredients-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
  }

  .search-container {
    width: 400px;
  }
}

/* md */
@media (max-width: 806px) {
  .ingredients-list > img {
    width: 60px;
    height: 60px;
  }

  .search-container {
    width: 350px;
  }
}

@media (max-width: 756px) {
  .search-container {
    width: 300px;
  }
}

/* sm */
@media (max-width: 706px) {
  p {
    font-size: 16px;
  }

  .recipe-img > img {
    height: 350px;
    width: 350px;
  }

  .ingredients-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
  }

  header {
    justify-content: space-around;
  }

  .icon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
  }

  .search-container {
    width: 100px;
  }
  .search-container > .search-wrapper {
    display: none;
  }

  .responsive > div:not(.search-container),
  .responsive > nav {
    display: none;
  }

  .responsive > .search-container {
    padding: 15px;
    width: 800px;
  }

  .responsive > .search-container > .search-wrapper {
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
  }

  .responsive > .search-container > .arrow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    color: white;
    text-decoration: none;
    padding-right: 20px;
  }
}

@media (max-width: 538px) {
  .search-container {
    width: 25px;
  }

  .responsive > .search-container {
    padding: 15px;
    width: 450px;
  }
}

/* xs */
@media (max-width: 475px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .recipe-img > img {
    height: 300px;
    width: 300px;
  }

  .search-container {
    width: 25px;
  }

  .responsive > .search-container {
    padding: 15px;
    width: 400px;
  }
}

@media (max-width: 384px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .recipe-img > img {
    height: 300px;
    width: 300px;
  }

  .search-container {
    width: 25px;
  }

  .responsive > .search-container {
    padding: 15px;
    width: 350px;
  }
}
