@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Kalam:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Barlow", sans-serif;
}

header {
  background-color: #00bf63;
  display: flex;
  justify-content: space-around;
  padding: 0px 5px 0px 5px;
  margin: 0%;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredish-logo {
  width: 200px;
  height: 50px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

nav li {
  list-style: none;
  padding: 20px 25px 25px 20px;
}

nav li > a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-text {
  font-size: 12px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
}

.search-wrapper {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#search {
  width: 80%;
  margin-right: 20px;
  height: 25px;
  font-size: large;
  text-indent: 20px;
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  color: white;
}

.search-wrapper > button {
  width: 50px;
  height: 25px;
  all: unset;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  padding-right: 20px;
}

.search-wrapper > button:focus {
  outline: revert;
}

#search,
.search-wrapper > button {
  border-radius: 25px;
}

main {
  max-height: 100%;
}
/*loader*/

.loader {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f7f9fb;
  transition: opacity 1s, visibility 1s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #f4901d;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/*recipe*/

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  padding: 50px 80px 50px 80px;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
  column-gap: 40px;
}

.image {
  grid-row: span 3;
  display: flex;
  flex-direction: column;
}

.image > h1 {
  font-size: 40px;
}

.recipe-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.recipe-img > img {
  height: 400px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
  font-size: 20px;
  text-indent: 20px;
}

.about,
.ingredients,
.instruction {
  padding-top: 25px;
}

.ingredients-grid {
  padding-top: 20px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  align-items: center;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredients-list > img {
  width: 100px;
  height: 100px;
}

.instruction > p {
  padding-top: 20px;
}

.instruction > ol {
  font-size: 20px;
}

.query-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  column-gap: 50px;
  row-gap: 50px;
}

.query-container > h1 {
  grid-column: span 4;
}

.recipe-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 285px;
  height: auto;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.recipe-image {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.card-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.recipe-card > a {
  display: flex;
  justify-content: end;
  padding: 10px;
}
