@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Kalam:wght@300&display=swap");

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: "Barlow", sans-serif;
}

header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin: 0%;
}

header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredish-logo {
  width: 150px;
  height: 70px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: end;
}

nav li {
  list-style: none;
  padding: 20px 25px 25px 20px;
}

nav li > a {
  text-decoration: none;
  color: #00bf63;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.15s;
}

nav li > a:hover {
  opacity: 0.8;
}

.navbar-text {
  font-size: 12px;
}

main {
  max-height: 100%;
}

.ingredish-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

.ingredish-img {
  width: 80%;
  height: 200px;
}

.ingredish-banner > p {
  font-family: "Kalam", cursive;
  font-size: 40px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  width: 100%;
  position: sticky;
  top: 0;
}

.search-wrapper {
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

#search {
  width: 80%;
  margin-right: 20px;
  height: 50px;
  font-size: large;
  text-indent: 20px;
  background: white;
  flex: 1;
  border: 0;
  outline: none;
}

.search-wrapper > button {
  width: 80px;
  height: 50px;
  border: none;
  background-color: #f4901d;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.search-wrapper > button:hover {
  opacity: 0.8;
}

.search-wrapper > button:active {
  opacity: 0.6;
}

#search,
.search-wrapper > button {
  border-radius: 25px;
}

.recipe {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  column-gap: 50px;
  row-gap: 50px;
}

.recipe-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 285px;
  height: 500px;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.recipe-img {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.card-title {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.card-info > h5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-info > p {
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.recipe-card > a {
  text-decoration: none;
  display: flex;
  justify-content: end;
  padding: 10px;
  color: #ff5757;
  font-weight: bold;
  transition: filter 0.15s, underline 0.15s;
}

.recipe-card > a:hover {
  filter: brightness(0.8);
  text-decoration: underline;
}

.card-title,
.card-info {
  padding: 10px;
}

/*loader*/

.loader {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #f7f9fb;
  transition: opacity 1s, visibility 1s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #f4901d;
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/*recipe*/

.grid {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  padding: 50px;
  justify-content: center;
  align-items: start;
  row-gap: 10px;
  column-gap: 40px;
}

.image {
  grid-row: span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image > img {
  height: 400px;
  width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
  text-indent: 20px;
}

/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
  .recipe {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto auto;
  }
}

/* lg */
@media (max-width: 948px) {
  .recipe {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
  }
}

/* md */
@media (max-width: 798px) {
  .ingredish-banner > p {
    text-align: center;
    font-size: 30px;
  }

  .recipe {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto;
  }

  .recipe-card {
    width: 400px;
  }
}

/* sm */
@media (max-width: 640px) {
  .ingredish-img {
    width: 80%;
    height: 100px;
  }
  .ingredish-banner > p {
    font-size: 20px;
  }

  #search {
    width: 80%;
    margin-right: 20px;
    height: 25px;
    font-size: small;
    text-indent: 20px;
  }

  .search-wrapper > button {
    width: 40px;
    height: 25px;
    font-size: 12px;
  }

  .recipe-card {
    width: 350px;
  }

  .card-title > h3 {
    font-size: 16px;
  }
}

/* xs */
@media (max-width: 475px) {
  .ingredish-logo {
    width: 90px;
    height: 50px;
  }
}
